.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.boardTable {
  width: 100%;
  border-collapse: collapse;
}

/* 테이블 전체 테두리 */
.boardTable th,
.boardTable td {
  border: 2px solid #333;
  padding: 10px;
}

/* 헤더 */
.boardTable thead {
  background-color: rgba(25, 135, 84, 0.18);
  text-align: center;
}

/* 헤더 글자 */
.boardTable th {
  color: #198754;
  font-weight: bold;
}

/* 제목 */
.boardTable th:nth-child(1),
.boardTable td:nth-child(1) {
  width: 20%;
  text-align: center;
}

/* 제목 */
.boardTable th:nth-child(2),
.boardTable td:nth-child(2) {
  width: 20%;
}

/* 작성자 */
.boardTable th:nth-child(3),
.boardTable td:nth-child(3) {
  width: 20%;
  text-align: center;
}

/* 평점 */
.boardTable th:nth-child(4),
.boardTable td:nth-child(4) {
  width: 20%;
  text-align: center;
}

/* 작성일 */
.boardTable th:nth-child(5),
.boardTable td:nth-child(5) {
  width: 20%;
  text-align: center;
}

.titleLink {
  text-decoration: none;
  color: black;
}

.titleLink:hover {
  text-decoration: underline;
  color: dodgerblue;
}

/* 버튼 통일 스타일 */
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-left: 10px;
  background-color: rgba(25, 135, 84, 0.18);
  color: #198754;
  border: 1px solid rgba(25, 135, 84, 0.35);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.button,
.button:link,
.button:visited {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: deepskyblue;
}

/*
  form
  */
.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.detail {
  text-align: center;
}

.detail img {
  width: 400px;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

/* stock detail */
.diagonal {
    background: linear-gradient(
        to top left,
        transparent 49%,
        #000 50%,
        transparent 51%
    );
}